{% extends "iris/base.html" %}
{% block content %}
   <!--flashエラーを表示する-->
   {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
         <li class="flash">{{message}}</li>
        {% endfor %}
      </ul>
    {% endif %}
   {% endwith %}


   <!-- 顧客情報フォーム -->
    <div class="container mt-4">
      <form method="POST" action="{{ url_for('iris.save_customer_temp') }}">
        {{ form.hidden_tag() }}  <!-- CSRFトークン含む -->

        <div class="form-group">
          {{ form.customer_id.label }}
          {{ form.customer_id(class="form-control") }}
        </div>

        <div class="form-group">
          {{ form.name.label }}
          {{ form.name(class="form-control") }}
        </div>

        <div class="form-group">
          {{ form.gender.label }}<br>
          {% for subfield in form.gender %}
            <div class="form-check form-check-inline">
              {{ subfield(class="form-check-input") }}
              {{ subfield.label(class="form-check-label") }}
            </div>
          {% endfor %}
        </div>

        <div class="form-group">
          {{ form.memo.label }}
          {{ form.memo(class="form-control", rows="3") }}
        </div>

        {{ form.submit(class="btn btn-primary") }}
      </form>
    </div>

{% endblock %}